/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: My_1;
  src: url(../assests/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: My_2;
  src: url(../assests/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: My_21;
  src: url(../assests/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: My_3;
  src: url(../assests/fonts/Roboto/Roboto-Light.ttf);
}

.p1_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  background-image: url(../assests/image/top-min.jpg);
  background-position: right;
  background-size: cover;
  padding-top: 2vh;
}

@media screen and (max-width: 767px) {
  .p1_main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../assests/image/top-min-mobile.jpg);
  }
}

.p1_main .p1_main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 98vh;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media screen and (max-width: 767px) {
  .p1_main .p1_main_content {
    height: 100vh;
    width: 80%;
  }
}

.p1_main .p1_main_content .p1_main_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 97%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media screen and (max-width: 767px) {
  .p1_main .p1_main_content .p1_main_top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p1_main .p1_main_content .p1_main_top .p1_main_top_left--span {
  font-family: My_1;
  font-size: 20px;
  color: #ff4e50;
}

@media screen and (max-width: 767px) {
  .p1_main .p1_main_content .p1_main_top .p1_main_top_left--span {
    font-family: My_1;
    font-size: 0px;
    width: 1px;
  }
}

.p1_main .p1_main_content .p1_main_top .p1_main_top_right_buttbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.p1_main .p1_main_content .p1_main_top .p1_main_top_right_buttbox .button_top {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 36px;
  font-family: My_2;
  font-size: 14px;
  font-style: normal;
  color: white;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .p1_main .p1_main_content .p1_main_top .p1_main_top_right_buttbox .button_top {
    min-width: 40px;
  }
}

.p1_main .p1_main_content .p1_main_top .p1_main_top_right_buttbox .p1_main_top_right--login {
  margin-right: 0.5vw;
}

.p1_main .p1_main_content .p1_main_top .p1_main_top_right_buttbox .p1_main_top_right--signup {
  border: white solid 1px;
  border-radius: 20px;
}

.p1_main .p1_main_content .p1_main_content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media screen and (max-width: 767px) {
  .p1_main .p1_main_content .p1_main_content-text {
    width: 96%;
  }
}

.p1_main .p1_main_content .p1_main_content-text .p1_main_content_header {
  width: 500px;
  font-family: My_1;
  font-size: 52px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .p1_main .p1_main_content .p1_main_content-text .p1_main_content_header {
    width: 98%;
    font-size: 30px;
  }
}

.p1_main .p1_main_content .p1_main_content-text .p1_main_content_coment {
  font-family: My_3;
  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 10vh;
}

@media screen and (max-width: 767px) {
  .p1_main .p1_main_content .p1_main_content-text .p1_main_content_coment {
    width: 85%;
    font-size: 18px;
    color: white;
    line-height: 18px;
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
}

.p1_main .p1_main_content .p1_main_content-text .p1_main_content_button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 40px;
  font-family: My_1;
  font-size: 14px;
  color: white;
  background-color: #ff4e50;
  border-radius: 30px;
}

@media screen and (max-width: 450px) {
  .p1_main .p1_main_content .p1_main_content-text .p1_main_content_button {
    width: 98%;
    height: 40px;
  }
}

.page, .p3_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 97vw;
}

@media screen and (max-width: 768px) {
  .page, .p3_main {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.page .p2_main_box, .p3_main .p2_main_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  height: 461px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
}

@media screen and (max-width: 768px) {
  .page .p2_main_box, .p3_main .p2_main_box {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page .p2_main_box .content_header, .p3_main .p2_main_box .content_header, .page .p2_main_box .p3_main .p3_main_box .p3_main_box_head, .p3_main .p2_main_box .p3_main_box .p3_main_box_head, .p3_main .p3_main_box .p2_main_box .p3_main_box_head {
  width: 97%;
  margin: 0% auto 3% auto;
  text-align: center;
  font-family: My_1;
  font-size: 26px;
  color: #444444;
}

@media screen and (max-width: 768px) {
  .page .p2_main_box .content_header, .p3_main .p2_main_box .content_header, .page .p2_main_box .p3_main .p3_main_box .p3_main_box_head, .p3_main .p2_main_box .p3_main_box .p3_main_box_head, .p3_main .p3_main_box .p2_main_box .p3_main_box_head {
    font-size: 22px;
  }
}

.page .p2_main_box .p2_main_box_image_box, .p3_main .p2_main_box .p2_main_box_image_box {
  height: 404px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .page .p2_main_box .p2_main_box_image_box, .p3_main .p2_main_box .p2_main_box_image_box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.page .p2_main_box .p2_main_box_image_box .p2_image_box, .p3_main .p2_main_box .p2_main_box_image_box .p2_image_box {
  width: 32%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page .p2_main_box .p2_main_box_image_box .p2_image_box .p2_link, .p3_main .p2_main_box .p2_main_box_image_box .p2_image_box .p2_link {
  width: 70px;
  height: 20px;
  border-radius: 25px;
  background-color: #ff4e50;
  text-decoration: none;
  font-family: My_21;
  font-size: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2vh;
}

.page .p2_main_box .p2_main_box_image_box .p2_image_box .p2_head, .p3_main .p2_main_box .p2_main_box_image_box .p2_image_box .p2_head {
  font-family: My_1;
  font-size: 24px;
  color: white;
  margin-bottom: 2vh;
}

@media screen and (max-width: 768px) {
  .page .p2_main_box .p2_main_box_image_box .p2_image_box .p2_head, .p3_main .p2_main_box .p2_main_box_image_box .p2_image_box .p2_head {
    width: 80%;
    line-height: 16px;
  }
}

.page .p2_main_box .p2_main_box_image_box .p2_image_box .p2_text, .p3_main .p2_main_box .p2_main_box_image_box .p2_image_box .p2_text {
  font-family: My_3;
  font-size: 14px;
  color: white;
}

@media screen and (max-width: 768px) {
  .page .p2_main_box .p2_main_box_image_box .p2_image_box .p2_text, .p3_main .p2_main_box .p2_main_box_image_box .p2_image_box .p2_text {
    width: 70%;
    line-height: 14px;
  }
}

.page .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--1, .p3_main .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--1 {
  max-height: 400px;
  background-image: url(../assests/image/22-min.jpg);
  background-size: cover;
  background-position: right;
  margin-right: 2%;
}

@media screen and (max-width: 768px) {
  .page .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--1, .p3_main .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--1 {
    width: 100%;
    min-height: 40vh;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 2%;
    background-image: url(../assests/image/22-min_mobi.jpg);
    background-size: cover;
    background-position: right;
  }
}

.page .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--2, .p3_main .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--2 {
  max-height: 400px;
  background-image: url(../assests/image/11-min.jpg);
  background-size: cover;
  background-position: center;
  margin-right: 2%;
}

@media screen and (max-width: 768px) {
  .page .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--2, .p3_main .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--2 {
    width: 100%;
    min-height: 40vh;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 2%;
    background-image: url(../assests/image/11-min_mobi.jpg);
  }
}

.page .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--3, .p3_main .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--3 {
  max-height: 400px;
  background-image: url(../assests/image/9-min.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .page .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--3, .p3_main .p2_main_box .p2_main_box_image_box .p2_main_box_image_box--3 {
    width: 100%;
    min-height: 40vh;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-image: url(../assests/image/9-min_mobi.jpg);
  }
}

.p3_main .p3_main_box {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
}

@media screen and (max-width: 768px) {
  .p3_main .p3_main_box {
    width: 100vw;
  }
}

.p3_main .p3_main_box .p3_main_box_head {
  margin: 0 auto 3% auto;
  text-align: center;
  font-family: My_1;
  font-size: 26px;
  color: #444444;
}

@media screen and (max-width: 768px) {
  .p3_main .p3_main_box .p3_main_box_head {
    font-size: 22px;
  }
}

.p3_main .p3_main_box .p3_main_content_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
}

@media screen and (max-width: 768px) {
  .p3_main .p3_main_box .p3_main_content_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content {
  width: 50%;
  min-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .p3_main .p3_main_box .p3_main_content_box .p3_group_content {
    width: 90%;
    min-width: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .personality_box {
  width: 221px;
  min-height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1%;
}

@media screen and (max-width: 768px) {
  .p3_main .p3_main_box .p3_main_content_box .p3_group_content .personality_box {
    width: 97vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 5%;
  }
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .photo_person, .p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_3, .p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_4 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .photo_person::after, .p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_3::after, .p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_4::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 32px;
  height: 32px;
  padding: 0px;
  border: 3px solid white;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_titul {
  line-height: 40px;
  font-family: My_1;
  font-size: 14px;
  color: #444444;
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_text {
  font-family: My_3;
  font-size: 14px;
  color: #a7a7a7;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_text {
    width: 40%;
  }
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_1 {
  background-image: url(../assests/image/Marta-min.jpg);
  background-position: center;
  background-size: cover;
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_1::after {
  background-image: url(../assests/image/airplane.png);
  background-color: #667df3;
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_2 {
  background-image: url(../assests/image/Oles.jpg);
  background-position: center;
  background-size: cover;
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_2::after {
  background-image: url(../assests/image/brush.png);
  background-color: #19d4c9;
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_3 {
  background-image: url(../assests/image/Maria-min.jpg);
  background-position: center;
  background-size: cover;
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_3::after {
  background-image: url(../assests/image/music2.png);
  background-color: #ff4e50;
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_4 {
  background-image: url(../assests/image/taras-min.jpg);
  background-position: center;
  background-size: cover;
}

.p3_main .p3_main_box .p3_main_content_box .p3_group_content .p3_photo_personality_box_4::after {
  background-image: url(../assests/image/camera.png);
  background-color: #ffa710;
}

.p3_main .p3_main_content_button {
  width: 180px;
  height: 40px;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  font-family: My_1;
  font-size: 14px;
  color: #ff4e50;
  border: #ff4e50 solid 2px;
  border-radius: 30px;
  margin-top: 3%;
}

@media screen and (max-width: 768px) {
  .p3_main .p3_main_content_button {
    width: 55%;
    min-width: 160px;
  }
}

.p4_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p4_main .p4_main_box {
  width: 70vw;
  height: 1031px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7%;
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.p4_main .p4_main_box .p4_main_box_head {
  width: 97%;
  margin: 0% auto 3% auto;
  text-align: center;
  font-family: My_1;
  font-size: 26px;
  color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_box_head {
    font-size: 22px;
  }
}

.p4_main .p4_main_box .p4_main_content_box {
  width: 100%;
  height: 970px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_content_box {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 {
  width: 100%;
  height: 32%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 0;
  }
}

.p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1 .p4_main_content_line1_im1, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line1_im1, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line1_im1, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1 .p4_main_content_line1_im2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line1_im2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line1_im2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1 .p4_main_content_line1_im3, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line1_im3, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line1_im3 {
  width: 32%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: My_1;
  font-size: 22px;
  color: white;
  background-image: url(../assests/image/ski4-min.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1 .p4_main_content_line1_im1, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line1_im1, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line1_im1, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1 .p4_main_content_line1_im2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line1_im2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line1_im2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1 .p4_main_content_line1_im3, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line1_im3, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line1_im3 {
    width: 100%;
    min-height: 40vh;
    margin-bottom: 2%;
    background-image: url(../assests/image/ski4-min_mobi.jpg);
  }
}

.p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1 .p4_main_content_line1_im2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line1_im2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line1_im2 {
  background-image: url(../assests/image/14-min.jpg);
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1 .p4_main_content_line1_im2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line1_im2, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line1_im2 {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 0;
    margin-right: 0;
    background-image: url(../assests/image/18-min_mobi.jpg);
  }
}

.p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1 .p4_main_content_line1_im3, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line1_im3, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line1_im3 {
  background-image: url(../assests/image/ato-min.jpg);
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line1 .p4_main_content_line1_im3, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line1_im3, .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line1_im3 {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 {
    width: 100vw;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 0;
  }
}

.p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line2_im1 {
  width: 32%;
  height: 100%;
  font-family: My_1;
  font-size: 22px;
  color: white;
  background-image: url(../assests/image/game2-min.jpg);
  background-size: cover;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2%;
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line2_im1 {
    width: 100vw;
    min-height: 40vh;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    background-image: url(../assests/image/game2-min_mobi.jpg);
    background-position: right;
  }
}

.p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line2_im2 {
  width: 66%;
  height: 100%;
  font-family: My_1;
  font-size: 22px;
  color: white;
  background-image: url(../assests/image/albany2-min.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line2 .p4_main_content_line2_im2 {
    width: 100%;
    min-height: 40vh;
    margin-bottom: 2%;
    background-image: url(../assests/image/albany2-min.jpg);
  }
}

.p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line3_im1 {
  width: 66%;
  height: 100%;
  font-family: My_1;
  font-size: 22px;
  color: white;
  background-image: url(../assests/image/alpy-min.jpg);
  background-size: cover;
  background-position: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line3_im1 {
    width: 100%;
    min-height: 40vh;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    background-image: url(../assests/image/alpy-min.jpg);
  }
}

.p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line3_im2 {
  width: 32%;
  height: 100%;
  font-family: My_1;
  font-size: 22px;
  color: white;
  background-image: url(../assests/image/barselona4-min.jpg);
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  margin-left: 2%;
}

@media screen and (max-width: 768px) {
  .p4_main .p4_main_box .p4_main_content_box .p4_main_content_line3 .p4_main_content_line3_im2 {
    width: 100%;
    min-height: 40vh;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    background-image: url(../assests/image/barselona4-min_mobi.jpg);
  }
}

.p5_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5%;
}

@media screen and (max-width: 768px) {
  .p5_main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p5_main .p5_main_box {
  width: 70vw;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
  .p5_main .p5_main_box {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.p5_main .p5_main_box .p4_main_box_head {
  width: 97%;
  margin: 0% auto 3% auto;
  text-align: center;
  font-family: My_1;
  font-size: 26px;
  color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .p5_main .p5_main_box .p4_main_box_head {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 22px;
  }
}

.p5_main .p5_main_box .p5_input_box .p5_question {
  font-family: My_3;
  font-size: 18px;
  color: #a7a7a7;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 6%;
}

.p5_main .p5_main_box .p5_input_box .p5_input_buttom_box {
  /* background-color: rgb(255, 167, 16); */
  height: 60px;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .p5_main .p5_main_box .p5_input_box .p5_input_buttom_box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p5_main .p5_main_box .p5_input_box .p5_input_buttom_box input {
  width: 299px;
  height: 40px;
  font-family: My_3;
  font-size: 14px;
  border: 1px #a7a7a7 solid;
  border-radius: 2px;
  padding-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .p5_main .p5_main_box .p5_input_box .p5_input_buttom_box input {
    width: 95vw;
    max-width: 299px;
    margin-bottom: 5%;
    margin-right: 0px;
  }
}

.p5_main .p5_main_box .p5_input_box .p5_input_buttom_box .p5_button {
  width: 172px;
  height: 40px;
  background-color: #ff4e50;
  border-radius: 30px;
  text-decoration: none;
  font-family: My_1;
  font-size: 14px;
  /* font-style: normal; */
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .p5_main .p5_main_box .p5_input_box .p5_input_buttom_box .p5_button {
    width: 80%;
  }
}

.p5_main footer {
  width: 100%;
  height: 50%;
  border-top: 2px solid #ff4e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2%;
  margin-bottom: 4%;
}

@media screen and (max-width: 768px) {
  .p5_main footer {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 4%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p5_main footer .footer_main_box {
  width: 70%;
  /* background-color: yellow; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 768px) {
  .p5_main footer .footer_main_box {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p5_main footer .footer_main_box .footer_titul {
  width: 30%;
  color: #ff4e50;
  font-family: My_21;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .p5_main footer .footer_main_box .footer_titul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
  }
}

.p5_main footer .footer_main_box .footer_nav {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .p5_main footer .footer_main_box .footer_nav {
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-bottom: 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p5_main footer .footer_main_box .footer_nav .foot_titul_text {
  font-family: My_1;
  font-size: 14px;
  color: #444444;
}

@media screen and (max-width: 768px) {
  .p5_main footer .footer_main_box .footer_nav .foot_titul_text {
    width: 100%;
    margin-top: 4%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p5_main footer .footer_main_box .footer_nav .footer_link_parner {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .p5_main footer .footer_main_box .footer_nav .footer_link_parner {
    margin-bottom: 4%;
  }
}

.p5_main footer .footer_main_box .footer_nav .foot_link {
  text-decoration: none;
  color: var(--lightText);
  font-family: My_3;
  font-size: 14px;
  margin-top: 10%;
}

@media screen and (max-width: 768px) {
  .p5_main footer .footer_main_box .footer_nav .foot_link {
    margin: 4% 3% 1% 3%;
  }
}

.p5_main footer .footer_main_box .footer_link_parner {
  font-family: My_1;
  font-size: 14px;
  color: #444444;
}

.p5_main footer .footer_main_box .footer_logo_box {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .p5_main footer .footer_main_box .footer_logo_box {
    margin-top: 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p5_main footer .footer_main_box .footer_logo_box .footer_figura_logo .footer_logo_caption {
  font-family: My_1;
  font-size: 10px;
  color: var(--lightText);
  text-align: right;
}

.p5_main footer .footer_main_box .footer_logo_box .footer_figura_logo .footer_logo_img {
  width: 110px;
  height: 24px;
  background-image: url(../assests/image/Bitmap.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */