.dws-progress-bar {
    position: absolute;
    top: 16%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 100;
    transform: rotate(-90deg);
   }
.progress-percentage {
    position: absolute;
    top: 45%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: fantasy;
    font-weight: bold;
    color: green;
    transform: rotate(90deg);
    
   }