*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 100vh;
    width: 70%;
    background-color: rgb(219, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.top_box{
    height: 38%;
    width: 95%;
    background-color: snow;
    padding: 2%;
    overflow-y: auto;
    

}
.midle_box_buttom{
    height: 10%;
    width: 30%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto 5px auto ;
}


.bt_edit{
    height:40px;
    width: 100px;
    background-color: yellow;
}
.bt_style{
    height:40px;
    width: 100px;
    background-color: steelblue;
}
.bottom_box{
    height: 45%;
    width: 95%;
    background-color: silver;
    display: flex;
    flex-direction: column;
    padding: 1%;

}
.bottom_text{
    height: 75%;
    width: 100%;
    background-color: snow;
    overflow-y: auto;
}
.disabled{
    display: none;
}
.bottom_box_button{
    height: 17%;
    width: 30%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    
}
.button_bottom--add{
    height:40px;
    width: 100px;
    background-color: tomato;
}
.button_bottom--save{
    height:40px;
    width: 100px;
    background-color: yellowgreen;
}

.bottom_style{
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 98%;
    position: relative;

}
.bottom_style_box_fontsize{
    display: flex;
    flex-direction: column;
}
.font_size_box_title{
    font-family: Arial, Helvetica, sans-serif;
}

.bottom_style_box_font_family-select{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background-color: rgba(77, 154, 255, 0.123);
    font-size: 14;
}
.font_family_box_title{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.colors_box_title{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.bottom_box_style_color_box_button-btncolortext{
    height:40px;
    width: 100px;
    background-color: thistle;
    margin-left: 5px;
}
.bottom_box_style_color_box_button-btncolorbackground{
    height:40px;
    width: 120px;
    background-color: thistle;
    margin-left: 5px;
}
.font_style_box_title{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.bottom_box_style_color_box_choise_box{
    position: absolute;
    right: 10px;
    bottom: 1%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.bottom_box_style_color_box_choise_box_color{
    width: 28%;
    height: 28%;
    box-shadow: darkgray 5px 5px 5px;
}



.font_size_0{
    font-size: 12px;
}
.font_size_1{
    font-size: 14px;
}
.font_size_2{
    font-size: 16px;
}
.font_size_3{
    font-size: 18px;
}
.font_size_4{
    font-size: 20px;
}

.font_family_0{
    font-family: 'Times New Roman', Times, serif;
}
.font_family_1{
    font-family: cursive;
}
.font_family_2{
    font-family: fantasy;
}
.font_family_3{
    font-family: monospace;
}
.font_family_4{
    font-family: sans-serif;
}

.text_color_0{
    color: lime; 
}
.text_color_1{
    color: yellow; 
}
.text_color_2{
    color: yellowgreen; 
}
.text_color_3{
    color: green; 
}
.text_color_4{
    color: orange; 
}
.text_color_5{
    color: orangered; 
}
.text_color_6{
    color: blue; 
}
.text_color_7{
    color: blueviolet; 
}
.text_color_8{
    color: navy; 
}
.background_color_0{
    background-color: lime; 
}
.background_color_1{
    background-color: yellow; 
}
.background_color_2{
    background-color: yellowgreen; 
}
.background_color_3{
    background-color: green; 
}
.background_color_4{
    background-color: orange; 
}
.background_color_5{
    background-color: orangered; 
}
.background_color_6{
    background-color: blue; 
}
.background_color_7{
    background-color: blueviolet; 
}
.background_color_8{
    background-color: navy; 
}

.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}