*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "bahij-sultannahia";
    src: url(fonts/bahij-sultannahia.ttf);
    }


body{
    width: 100%;
    height: 900px;
    background-color: rgb(224, 224, 224);
   
}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(224, 224, 224);
    padding: 0.9%;
    position: fixed;
    /* z-index: 99; */
}    


.header__nav{
    width: 350px;

    margin: auto;
    text-align: center;
   
    display: flex;
    justify-content: space-between;
    
}


.header_a {
    text-decoration: none;
    font-family: "bahij-sultannahia";
    font-size: 30px;
    font-weight: 500;
    color:black;
}
.header_a1_hover{
    color: black;
}



.header_a2_hover{
    color: blue;
   
}
.header_a1_hover:hover{
    color: blue;
}
.header_a3_hover:hover{
    color: blue;
   
}


main{
   
    position: absolute;
   
    top: 52px;
    left: 15px;
    right: 15px;
    bottom: 20px;
    border-radius: 20px;
 
    background-color: rgb(175, 175, 175);
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;

}
.content{
    width: 21%;
    height: 42%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.photo{
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.content_text_hover{
    font-size: 20px;
    font-family: "bahij-sultannahia";
    text-align: center;
    position: relative;
    overflow: hidden;
}
/* .uil-trash{
    color: blue;
} */
.content_text_hover::after{
    content: "";
    color: rgb(195, 195, 223);
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -30px;
    top: -20px;
    background-color: white;
    
    border-radius: 5px;
    background-image: url(images/trash-10-xxl.png);
    background-position: center;
    /* background-color: rgb(177, 177, 247); */

    background-size: cover;
    
}

.coment__name{
    font-family: "bahij-sultannahia";
    font-size: 18px;
    color: darkgray;
    text-align: center;
    margin-bottom: 30px;
}
.date{
    font-family: "bahij-sultannahia";
    font-size: 18px;
    color: darkgray;
    text-align: center;
}

.photo1{
     background-image: url(images/1.jpg) ;  
}
.photo2{
     background-image: url(images/2.jpg) ;  
}
.photo3{
     background-image: url(images/3.jpg) ;  
}
.photo4{
     background-image: url(images/4.jpg) ;  
}
.photo5{
     background-image: url(images/5.jpg) ;  
}
.photo6{
     background-image: url(images/6.jpg) ;  
}
.photo7{
     background-image: url(images/7.jpg) ;  
}
.photo8{
     background-image: url(images/8.jpg) ;  
}
.content_text_hover:hover{
    background-color: rgb(84, 84, 247);
    color: white;
    overflow: visible;
}

