$myBGColor_1: rgb(246, 248, 108);
$myBGColor_2: rgb(119, 164, 233);
$myBGColor_3: rgb(85, 75, 129);
$myBGColor_4: rgb(54, 81, 168);
$myBGColor_5: rgb(255, 255, 255);
$myBGColor_6: rgb(235, 132, 132);
$mainTextColor: rgb(143, 179, 86);
$myTextSize_1: 20px;
$myTextSize_2: 22px;
$myTextSize_3: 13px;
$myTextSize_4: 16px;